// ~~~SIZES~~~
$header-height: 5rem;
$toolbar-height: 4.4rem;
$formula-height: 3.2rem;
$row-height: 2.4rem;
$cell-width: 9.6rem;
$db-header-height: 6.4rem;

// ~~~COLORS~~~

$green: rgb(38, 180, 38);
$darkGreen: rgb(26, 124, 26);


$bgGray: #dadce0;
$lightGray: #f0f0f0;
$gray: rgb(120, 120, 120);
$black: #202020;

